{% extends '../layouts/base.html' %}

<!-- section title -->
{% block title %}
  {{ title }}
{% endblock %}
<!-- end section title -->

<!-- section custom css -->
{% block custom_css %}
<style>
  .dropdown-menu[data-bs-popper] {
    top: 100% !important;
    left: -80px !important;
    margin-top: .7rem !important;
  }
</style>
{% endblock %}
<!-- end section custom css -->

<!-- section content -->
{% block content %}
  <div class="row">
    <div class="col-4 offset-3">
      <div class="card">
        <div class="card-header">
          <h4>Welcome {{ data.first_name }} {{ data.middle_name }} {{ data.last_name }}</h4>
          <h4><a href="{% url 'user.email' %}">Send</a></h4>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<!-- end section content -->