<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- bootsrap 5 link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 offset-3">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ body_title }}</h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'user.login' %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                                <input type="submit" value="LOGIN">
                        </form>
                    </div>
                    <div class="card-footer">
                        {% if msg %}
                            <div class="alert alert-danger">{{ msg }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>