{% extends '../layouts/base.html' %}

<!-- section title -->
{% block title %}
{{ title }}
{% endblock %}
<!-- end section title -->

<!-- section custom css -->
{% block custom_css %}
<style>
    .dropdown-menu[data-bs-popper] {
    top: 100% !important;
    left: -80px !important;
    margin-top: .7rem !important;
    }

    .rounded {
        border-radius: 8.50rem !important;
    }

    .editForm {
        display: none;
    }
</style>
{% endblock %}
<!-- end section custom css -->

<!-- section content -->
{% block content %}
<div class="row">
    <div class="col-4 offset-3">
        <div class="text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwSSBcFhvDf3wM3uCu6T-Obuuszq362TMpWFqKprdvscFAQ4xqGGYGdfMAbx0Obq8KV8g&usqp=CAU" class="rounded" alt="Rajesh hamal">
        </div>
        <div class="col-4">
            <form action="#">
                <label for="file" class="mb-2">Change Profile</label>
                <input type="file" class="form-control">
            </form>
        </div>
    </div>
    <div class="col-4 offset-3 show">
        <div class="card mt-2">
            <div class="card-header mb-2">
                <h3>Name:- <strong class="text-uppercase">{{ data.first_name }} {{ data.middle_name }} {{ data.last_name }}</strong></h3>
            </div>
            <div class="card-body">
                <h5 class="mb-2">Email:- <strong class="text-uppercase">{{ data.email }}</strong></h5>
                <h5 class="mb-2">Contact:- <strong class="text-uppercase">{{ data.contact }}</strong></h5>
                <h5 class="mb-2">Username:- <strong class="text-uppercase">{{ data.username }}</strong></h5>
                <h5 class="mb-2">Joined Date:- <strong class="text-uppercase">{{ data.created_at }}</strong></h5>
            </div>
        </div>
    </div>
    <div class="col-4 offset-3 editForm">
        <form action="{% url 'user.update' %}" method="POST">
        {% csrf_token %}
        <div class="card mt-2">
            <div class="card-header mb-2">
                <h3>Name:-</h3>
                <input type="hidden" name="user_id" value="{{ data.id }}">
                <div class="form-group mb-2">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" value="{{ data.first_name }}" class="form-control"> 
                </div>
                <div class="form-group mb-2">
                    <label for="middle_name">Middle Name</label>
                    <input type="text" name="middle_name" value="{{ data.middle_name }}" class="form-control">
                </div>
                <div class="form-group mb-2">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" value="{{ data.last_name }}" class="form-control">
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" value="{{ data.email }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Contact</label>
                    <input type="text" name="contact" value="{{ data.contact }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Username</label>
                    <input type="text" name="username" value="{{ data.username }}" class="form-control">
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="UPDATE" class="btn btn-primary">
            </div>
        </div>  
        </form>
    </div>
    <div class="col-4 offset-3 mt-2">
        <a type="submit" class="btn btn-primary btn-block" id="editBtn">EDIT</a>
        <a type="submit" class="btn btn-primary btn-block" id="showBtn">show</a>
    </div>
</div>
{% endblock %}
<!-- end section content -->

<!-- section custom js -->
{% block custom_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function(){
        $('#editBtn').click(function(){
            $('.editForm').show();
            $('.show').hide();
            $('#editBtn').hide();
            $('#showBtn').show();
        });

        $('#showBtn').click(function(){
            $('.editForm').hide();
            $('.show').show();
            $('#showBtn').hide();
            $('#editBtn').show();
        });
    });
</script>
{% endblock %}
<!-- end section custom js -->